@tailwind base;
@tailwind components;
@tailwind utilities;

.formatResponseEvent {
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
